
.error {
    color: red;
}

.bg-container {
  background-image: "bgimg.jpg";
  background-repeat: no-repeat;
  background-size: cover;
}
.row{
  text-align: right;
  text-align: justify;
}
